@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    background-color: #ffffff7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: 0.3s filter ease;
}
.header{
    position: absolute;
    background: linear-gradient(to right,  #821A4D, #c41469);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 110px;
}
.header-container img{
    width: 100px;
}

nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav p{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#search{
    width: 450px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    transition: 0.5s;
}
#search::placeholder{
    color: white;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 107px;
    height: 100vh;
    padding: 0 1.7rem;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background: linear-gradient(to bottom, #821A4D, #c41469);
    z-index: 2;
    
}
.blur{
    filter: blur(5px); 
}
#sidebar:hover{
    width: 330px;
    transition: 0.5s;
    border-right: 2px solid white;
}

#logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#logo img{
    width: 60px;
}

.menu{
    height: 90%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 10px 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, #active{
    background-color: white;
    border: 2px solid black;
}
.menu li:hover a, #active a{
    color: #821A4D;
}

.menu a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: start;
}

.menu a span{
    overflow: hidden;
    white-space: nowrap;
}

.menu a i{
    font-size: 1.2rem;
}
.container{
    width: 100%;
    
}
.user-container{
    background-color: transparent;
    margin-top: 150px;
    margin-left: 120px;
    margin-bottom: 60px;
    border-radius: 20px;
    padding-bottom: 20px;
    height: fit-content;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.user-div-title{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, #821A4D, #c41469);
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.user-grid {
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 10px; 
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, #821A4D, #c41469);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.user-grid-item {
    padding: 5px;
    font-weight: bold;
}
.user-grid-item:not(:last-child){
    border-right: 2px solid white;
}
.user-list{
    width: 100%;
    background-color: white;
}
.item-list{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; 
    padding: 10px;
    color: #821A4D;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
.item-list:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.item-list p{
    text-align: center;
}
#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-paginacao{
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #821A4D;
    font-weight: bold;
    border: none;
    color: white;
}
.botao-paginacao:hover{
    cursor: pointer;
    background-color: #c41469;
}
.botao-paginacao:not(:last-child){
    margin-right: 10px;
}
.botao-paginacao.ativo{
    background-color: #f15474;
}
.botao-paginacao.ativo:hover{
    background-color: #ae9298;
}
.item{
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.item:not(:last-child){
    border-right: 2px solid gray;
}
.icon{
    width: 30px;
}

.foto-morador{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.img-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-div2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 2px solid gray;
}

